*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, Helvetica Neue, Helvetica,Arial, sans-serif;
}

.clearfix{
    content: '';
    display:table;
    clear: both;
}

.container{
    width: 1200px;
    margin: auto;
}
/* header background color + contenuti*/

header{
    height: 500px;
    background-color:#3161E0
}

.top-header{
    height: 70px;
    width: 100%;
    text-align: center;
    line-height: 70px;
    
   
}

.bottom-header{
    vertical-align: middle;
    text-align: center;
   
}

.float{
    float:left;

}

.w-20{
    width: 20%;
}

.w-60{
    width: 60%;
    
}

#logo{
    
}

ul{
    list-style-type:none;
    display: inline;
}

li{
    display: inline;
    padding: 25px;
   
    
}

a{
    text-decoration: none;
    color:white ;
    
    
}

/* buttons */

.btn{
    background-color:white;
    color: black;
    padding: 10px 10px;
    border-radius: 20px;
}

.btn-dark{
    background-color: #23272A;
    color:white

}

.btn:hover{
    color:#3161E0;
}

.spotlight{
    background-image: url(../img/jumbo.png);
    height: 500px;
    background-size: cover;

}

